<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hello World</title>
<link rel="stylesheet" href="../styles/HelloWorldStyles.css">
</head>
<body>

	<div class="functionDiv">
		<button onclick="counter()">Increment!</button>
	</div>
	<div class="functionDiv">
		<button onclick="appleCounter()">Increment apples!</button>
	</div>
	<div class="functionDiv">
		<button onclick="orangeCounter()">Increment oranges!</button>
	</div>

	<br>
	<br>

	<div class="displayDiv" id="bearDiv">
		<button onclick="showBears()">Show bears!</button>
		<br>
		<br>
	</div>
	
	<br>
	<br>

	<div id="div5">
		<p id="p1">this is a paragraph</p>
		<p id="p2">this is another paragraph</p>
	</div>


</body>
<script src="../scripts/closure.js"></script>
<script src="../scripts/parse.js"></script>
<script src="../scripts/walkTheDom.js"></script>
</html>